# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#firebase
.env
/src/components
/src/components/firebase
/src/components/firebase/fbase.js
./src/fbase.js
fbase.js
firestore.rules
storage.rules

#package
package.json
package-lock.json

#ECT
askPermission
