.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

@import url('submitLandingPage.css');
@import url('selectLandingPage.css');
@import url('landingInfo.css');
@import url('landingSuccess.css');
@import url('landingShare.css');
