.landingSuccess-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landingSuccess-wrapper {
  width: 80%;
  height: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landingSuccess-wrapper img {
  width: 50%;
  height: 50%;
  max-width: 220px;
  max-height: 220px;
  min-width: 50px;
  min-height: 50px;
  object-fit: contain;
  margin-bottom: 20px;
}
.landingSuccess-wrapper h3 {
  font-size: 2.2rem;
  font-weight: 700;
  width: 100%;
  text-align: center;
  color: #785a9d;
}
.landingSuccess-wrapper p {
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 400;
  width: 80%;
  text-align: center;
  margin-top: 10px;
}
.landingSuccess-wrapper input {
  margin-top: 20px;
  background-color: #785a9d;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  width: 80%;
  max-width: 200px;
  height: 50px;
}
@media screen and (max-width: 500px) {
  .landingSuccess-wrapper img {
    margin-bottom: 10px;
  }
  .landingSuccess-wrapper p {
    font-size: 1.2rem;
    line-height: 1.3;
    font-weight: 400;
    width: 80%;
    text-align: center;
    margin-top: 20px;
  }
}
