.selectLangPage-container {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  z-index: 2;
  display: flex;
  align-items: center;
}
.selectLangPage-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.selectLangPage-wrapper img {
  max-width: 180px;
  max-height: 180px;
  width: 40%;
  height: 40%;
  object-fit: cover;
  margin-bottom: 20px;
}
.selectLangPage-wrapper .title {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 20px;
}
.selectLangPage-wrapper .description {
  max-width: 450px;
  font-size: 1.2rem;
  line-height: 1.3;
  margin-bottom: 30px;
  text-align: center;
  padding: 0px 30px;
}
.selectLangPage-wrapper .submitLang {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.selectLangPage-wrapper .submitLang input {
  width: 180px;
  height: 30px;
  border: none;
  border-radius: 20px;
  background-color: #8064a2;
  color: #fff;
  font-size: 17px;
  margin: 10px;
}
/* 여기서부터 */
.landingShare-wrapper {
  border: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  position: relative;
  margin-top: 60px;
  width: 100%;
  max-width: 250px;
  min-height: 50px;
}
.landingShare-wrapper .social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 60px;
  height: 60px;
  margin: 0 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 2rem;
  text-decoration: none;
  transition: all 0.15s ease;
  opacity: 0.6;
}
.landingShare-wrapper .social-icon:hover {
  opacity: 1;
}
.landingShare-wrapper .social-icon i {
  position: relative;
}
.landingShare-wrapper .social-icon:hover .name {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -150%);
}
.landingShare-wrapper .social-icon:active {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
}
.landingShare-wrapper .social-icon--copy {
  background-color: #2b97f1;
  color: #fff;
}
.landingShare-wrapper .social-icon--copy .name {
  background-color: #2b97f1;
  color: #3a1d1d;
}
.landingShare-wrapper .social-icon--kakaoTalk,
.landingShare-wrapper .social-icon--kakaoTalk .name {
  background-color: #f7e600;
  color: #3a1d1d;
}
.landingShare-wrapper .social-icon input {
  position: absolute;
  pointer-events: none;
  top: 0px;
  left: 0px;
  opacity: 0;
}

.landingShare-wrapper .name {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  padding: 10px 15px;
  border-radius: 40px;
  font-size: 0.9rem;
  font-weight: bold;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
  transform: translate(-50%, -100%);
  transition: all 0.3s ease;
  z-index: 1;
}
@media screen and (max-width: 500px) {
  .landingShare-wrapper {
    margin-top: 80px;
  }
  .landingShare-wrapper .name {
    top: 5px;
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -150%);
  }
  .landingShare-wrapper .social-icon {
    opacity: 1;
  }
}
